.layout {
    width: 100vw;
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(112, 87, 255);
}

.contentWrapper {
    padding: 3vw 3vw;

    box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.77);
    -webkit-box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.77);
    -moz-box-shadow: 10px 10px 33px -11px rgba(0,0,0,0.77);
    border-radius: 10px;

    background-color: rgb(24, 23, 23);
}

@media only screen and (orientation: portrait) {
    .contentWrapper {
        width: 100vw;
        height: 100vh;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-radius: 0;
    }
}
