.main {
    width: 100%;
    min-height: 10vh;
    padding: 10px;
    color: wheat;
    border-bottom: solid rgb(41, 41, 41);

    display: grid;
    column-gap: 20px;

    grid-template-rows: 100%;
    grid-template-columns: 5vh auto 10%;
    overflow: hidden;
}

.rank {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}

.name {
    grid-column: 2 / 3;
    font-size: 2rem;
}

.fill {
    width: auto;
    height: 100%;
}

.score {
    grid-column: 3 / 4;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 200%
}

@media only screen and (orientation: portrait) {
    .name {
        font-size: 1.2rem;
    }
    .score {
        font-size: 1.5rem;
    }
}
